
.weather{
    place-self: center;
    padding: 40px;
    border-radius: 14px;
    background-image: linear-gradient(45deg,#2ed889d6,#9586df);
    display: flex;
    flex-direction: column;
    align-items:  center;
  
    width: 350px;
    height: 500px;
    transition: all 0.3s ease;
}
.search-bar{
   
    display: flex;
    align-items: center;
    
   gap: 20px;
}
.search-bar input{
    width: 270px;
height: 50px;
border: none;
outline: none;
 border-radius:45px;
    height: 50px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
    padding-left: 25px;
}
.search-bar img{
    height: 17px;
    width: 30px;
    background: white;
    color: black;
    cursor: pointer;
border-radius:50% ;
padding: 15px;
}
.sun{
    width: 100px;
    height: 50px;
margin: 60px;
}
.temprature{
    color: #ebfffc;
    font-weight: 400;
    font-size: 3rem;
    margin: 14px;
}
.city{
     color: #ebfffc;
    font-weight: 500;
    font-size: 2.5rem;
   
}
.data{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #ebfffc;
    margin-top:40px;
}
.col img{
    width: 50px;
    height: 40px;
}
.col{
    display: flex;
    align-items: flex-start;
   
    gap: 10px;
   font-weight: 700;
   font-size: 25px;
}
.col span{
font-size: 14px;
}

@media (max-width: 480px) {
  .weather {
     width: 100%; 
  height:auto;
   }
   .search-bar {
    display: flex;
    flex-direction: column;  
    align-items: center;      
    justify-content: center; 
   
          
  }

 .search-bar input {
    width: 100%;              
   
  }


  .search-bar img {
    width: 44px;
    height: 44px;
    
  }

  .temprature {
    font-size: 1.8rem;
  }
.sun{
  margin: 5px;
}
  .city {
    font-size: 8px;
    font-weight: 300;
  }

  .col {
    font-size: 10px;
    gap: 2px;
  }
  .col p{
    font-size: 8px;
    font-weight: 200;
  }
  .col span{
    font-size: 4px;
    font-weight: 100;
    
  }

}
@media (max-width: 768px) {
  .weather {
    width: 100%;
    height:85%;
    padding: 25px;
  
  
  }

  .search-bar {
    display: flex;
    flex-direction: row;
    gap: 1px;
    width: 100%;
  }

  .search-bar input {
    width: 30%;
    height: 30px;
    font-size: 12px;
    padding-left: 1px;
  }

  .search-bar img {
    width: 25px;
    height: 20px;
    padding: 12px;
  }

  .sun {
    width: 80px;
    height: 80px;
    margin: 30px 0;
  }

  .temprature {
    font-size: 2.3rem;
  }

  .city {
    font-size: 1.9rem;
  }

  .data {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .col {
    justify-content: center;
    font-size: 25px;
  }

  .col img {
    width: 35px;
    height: 35px;
  }
}


@media (max-width: 1024px) {
  .weather {
    width: 40%;
    height:70%;
    padding: 15px;
  }
  .search-bar{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
    
  }
.search-bar img{
  width: 18px;
  height: 13px;
}
.search-bar input{
  width: 230px;
  height: 50px;
}
  .temprature {
    font-size: 1.8rem;
    font-weight: 700;
  }

  .city {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .col {
    font-size: 15px;
    gap: 5px;
  }
  .col span{
    font-size: 1rem;
    font-weight: 500;
  }
  .col p{
    font-size: 1rem;
    font-weight: 600;
  }
}
